@page
@model RoboRecords.Pages.AssetManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery _antiforgery

<!--
 AssetManager.cshtml: Frontend of the Asset Manager website's page
 Copyright (C) 2022, Ors <Riku-S> and Refrag <Refragg>
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 See the 'LICENSE' file for more details.
-->

@{
    ViewData["Title"] = "Asset Manager";
    var requestToken = _antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<input id="__AntiforgeryToken" type="hidden" value="@requestToken" />

<script type="text/javascript">
    var games
    var characters
    
    window.onload = function() {
        $.ajax({
            type: 'GET',
            url: '?handler=Games',
            headers: {
                "RequestVerificationToken": getToken()
            },
            success: function (data) {
                games = data
                
                var gamesSelectionElement = get("gamesSelection")
                        
                for (var index in games) {
                    var element = document.createElement("option")
                    element.setAttribute("value", games[index].id)
                    element.textContent = games[index].name
                    gamesSelectionElement.appendChild(element)
                }
            },
            error: function (error) {
                alert("Error getting the games")
            }
        })
        
        $.ajax({
            type: 'GET',
            url: '?handler=Characters',
            headers: {
                "RequestVerificationToken": getToken()
            },
            success: function (data) {
                characters = data
                
                var characterSelectionElement = get("charactersSelection")
                        
                for (var index in characters) {
                    var element = document.createElement("option")
                    element.setAttribute("value", characters[index].id) 
                    element.textContent = characters[index].name
                    characterSelectionElement.appendChild(element)
                }
            },
            error: function (error) {
                alert("Error getting the characters")
            }
        })
        
        refreshSiteAssetsView()
    }

    function getToken() {
        return get("__AntiforgeryToken").value
    }

    function get(elementIdString) {
        return document.getElementById(elementIdString)
    }
    
    function getSiteAssetFullPath(asset) {
        return "@FileManager.NewAssetsDirectoryName/@FileManager.SiteAssetsDirectoryName/" + asset.id + "." + asset.fileExtension
    }
    
    function getGameAssetFullPath(asset) {
        return "@FileManager.NewAssetsDirectoryName/@FileManager.GamesAssetsDirectoryName/" + asset.id + "." + asset.fileExtension
    }
        
    function getCharacterAssetFullPath(asset) {
        return "@FileManager.NewAssetsDirectoryName/@FileManager.CharactersAssetsDirectoryName/" + asset.id + "." + asset.fileExtension
    }
    
    function handleTabClick(element) {
        var siteTab = get("siteTab")
        var gamesTab = get("gamesTab")
        var charactersTab = get("charactersTab")
        
        var gamesSelection = get("gamesSelection")
        var charactersSelection = get("charactersSelection")
        
        get("siteNavLink").setAttribute("class", "nav-link")
        siteTab.setAttribute("style", "display: none")
        get("gamesNavLink").setAttribute("class", "nav-link")
        gamesTab.setAttribute("style", "display: none")
        get("charactersNavLink").setAttribute("class", "nav-link")
        charactersTab.setAttribute("style", "display: none")
        
        gamesSelection.setAttribute("style", "display: none")
        charactersSelection.setAttribute("style", "display: none")
        
        element.setAttribute("class", "nav-link active")
        switch (element.id)
        {
            case "siteNavLink":
                refreshSiteAssetsView()
                siteTab.removeAttribute("style")
                break;
            case "gamesNavLink":
                refreshGameAssetsView(gamesSelection)
                gamesTab.removeAttribute("style")
                gamesSelection.removeAttribute("style")
                break;
            case "charactersNavLink":
                refreshCharacterAssetsView(charactersSelection)
                charactersTab.removeAttribute("style")
                charactersSelection.removeAttribute("style")
                break;
        }
    }
    
    function refreshSiteAssetsView() {
        var contentElement = get("siteTabContent")
        for (let i = contentElement.children.length - 1; i >= 0; i--) {
            contentElement.children[i].remove()
        }
        
        $.ajax({
            type: 'GET',
            url: '?handler=SiteAssets',
            headers: {
                "RequestVerificationToken": getToken()
            },
            success: function (data) {
                for (var index in data) {
                    var siteAsset = data[index]
                    
                    var div = document.createElement("div")
                    div.setAttribute("class", "assetmanager-asset")
                    
                    var imageContainer = document.createElement("div")
                    imageContainer.setAttribute("class", "assetmanager-asset-image-container")
                    
                    var imageElement = document.createElement("img")
                    imageElement.setAttribute("src", getSiteAssetFullPath(siteAsset))
                    imageElement.setAttribute("class", "assetmanager-asset-image img-fluid")
                    
                    imageContainer.appendChild(imageElement)
                    
                    var labelElement = document.createElement("p")
                    labelElement.setAttribute("class", "assetmanager-asset-text")
                    labelElement.innerText = siteAsset.name
                    
                    div.appendChild(imageContainer)
                    div.appendChild(labelElement)
                    
                    contentElement.appendChild(div)
                }
            },
            error: function (error) {
                alert("Error getting the site assets")
            }
        })
    }
    
    function refreshGameAssetsView(element) {
        $.ajax({
            type: 'GET',
            url: '?handler=GameAssets&id=' + element.value,
            headers: {
                "RequestVerificationToken": getToken()
            },
            success: function (data) {
                console.log(data)
            },
            error: function (error) {
                alert("Error getting the assets for this game")
            }
        })
    }
    
    function refreshCharacterAssetsView(element) {
        
        
        $.ajax({
            type: 'GET',
            url: '?handler=CharacterAssets&id=' + element.value,
            headers: {
                "RequestVerificationToken": getToken()
            },
            success: function (data) {
                console.log(data)
            },
            error: function (error) {
                alert("Error getting the assets for this character")
            }
        })
    }
    
    function handleGamesSelectionChange(element) {
        refreshGameAssetsView(element)
    }
    
    function handleCharactersSelectionChange(element) {
        refreshCharacterAssetsView(element)
    }
</script>

<div class="text-center">
    <h1 class="">Asset Manager</h1>
    <h2 class="lead">Manage the assets for the website and the games</h2>
</div>

<div class="flex-container" style="position: relative">
    <ul class="left-element nav nav-tabs" style="border-top-right-radius: 10px; border-top-left-radius: 10px; width: fit-content; background: rgba(0, 0, 0, 0.45); position: center">
        <li class="nav-item">
            <a class="nav-link active" id="siteNavLink" onclick="handleTabClick(get('siteNavLink'))" href="#">Site</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="gamesNavLink" onclick="handleTabClick(get('gamesNavLink'))" href="#">Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="charactersNavLink" onclick="handleTabClick(get('charactersNavLink'))" href="#">Characters</a>
        </li>
    </ul>
    <div class="right-element">
        <select onchange="handleGamesSelectionChange(get('gamesSelection'))" id="gamesSelection" class="custom-select" style="display: none">
            <!-- The options will be filled out by the script when the page loads -->
        </select>
        <select onchange="handleCharactersSelectionChange(get('charactersSelection'))" id="charactersSelection" class="custom-select" style="display: none">
            <!-- The options will be filled out by the script when the page loads -->
        </select>
    </div>
</div>

<div class="assetmanager-tab-content" id="siteTab">
    <div class="container assetmanager-assets-list" id="siteTabContent">
        <!-- This will be filled when the tab is selected -->
    </div>
    <div class="bottom-right-with-padding">
        <button class="btn btn-primary btn-lg">Save</button>
        <button class="btn btn-secondary btn-lg">Revert</button>
    </div>
</div>
<div class="assetmanager-tab-content" id="gamesTab" style="display: none">
    <div class="container assetmanager-assets-list" id="gamesTabContent">
        <!-- This will be filled when the tab is selected -->
    </div>
    <div class="bottom-right-with-padding">
        <button class="btn btn-primary btn-lg">Save Game</button>
        <button class="btn btn-secondary btn-lg">Revert Game</button>
    </div>
</div>
<div class="assetmanager-tab-content" id="charactersTab" style="display: none">
    <div class="container assetmanager-assets-list" id="charactersTabContent">
        <!-- This will be filled when the tab is selected -->
    </div>
    <div class="bottom-right-with-padding">
        <button class="btn btn-primary btn-lg">Save Character</button>
        <button class="btn btn-secondary btn-lg">Revert Character</button>
    </div>
</div>

<style>
    .left-element {
        float: left;
    }
    
    .right-element {
        position: absolute;
        right: 0;
        float: right;
    }

    .bottom-right-with-padding {
      position: absolute;
      bottom: 2%;
      right: 2%;
    }

    .assetmanager-tab-content {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%; height: 80%;
        background: rgba(0, 0, 0, 0.45);
        position: relative;
    }
    
    /* FIXME: WARNING!!! This is some serious css magic happening for this to render properly.....
       Fix this mess at some point */
    
    .assetmanager-assets-list {
        width: 95%;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .assetmanager-asset {
        width: 200px;
        height: 195px;
        padding-inline: 15px;
        padding-top: 10px;
        display: inline-block;
    }
    
    .assetmanager-asset-image-container {
        position: relative;
        width: 100%;
        height: 62px;
    }
    
    .assetmanager-asset-image {
        position: absolute;
        image-rendering: crisp-edges;
        margin: auto;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        max-height: 132px;
    }
    
    .assetmanager-asset-text {
        position: relative;
        top: 36%;
        overflow: hidden;
        overflow-wrap: anywhere;
        text-overflow: ellipsis;
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-align: center;
    }

    .container {
        height: 92%;
    }

    .pb-3 {
        height: 100%;
    }
    
    .nav-link {
        color: white !important;
    }
    
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { 
        background-color: #000f92
    }

    body {
        background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('@FileManager.AssetsDirectoryName/images/vanillabg.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
</style>