@page
@using RoboRecords.Models
@using Google.Protobuf.WellKnownTypes
@model RoboRecords.Pages.EditGame

@{
    ViewData["Title"] = "Edit game";
}

<!DOCTYPE html>

@section Scripts {
    <script>
    class LevelForm
    {
        constructor(name, act, number, nights, iconPath) 
        {
            this.levelName = name;
            this.act = act;
            this.levelNumber = number;
            this.nights = nights.toString() === "True";
            this.iconPath = iconPath;
        }
    }
    
    class LevelGroupForm
    {
        constructor(name, writeNames, levels)
        {
            this.groupName = name;
            this.writeNames = writeNames.toString() === "True";
            this.levels = levels.slice();
        }
    }

    class EditGameForm
    {
        groupName = "";
        urlName = "";
        iconPath = "";
        levelGroups = [];
        
        init()
        {
            console.log("Creating a form object");
            this.name = "@EditGame.Game.Name";
            this.urlName = "@EditGame.Game.UrlName";
            this.iconPath = "@EditGame.Game.IconPath";
            this.levelGroups = [];
            let tempLevels = [];
            
            @for (var groupCount = 0; groupCount < EditGame.Game.LevelGroups.Count; groupCount++)
            {
                var group = EditGame.Game.LevelGroups[groupCount];
                <text>
                tempLevels = [];
                </text>
                @for (var levelCount = 0; levelCount < EditGame.Game.LevelGroups[groupCount].Levels.Count; levelCount++)
                {
                    var level = group.Levels[levelCount];
                    <text>
                    tempLevels.push(new LevelForm("@level.LevelName", @level.Act, @level.LevelNumber, "@level.Nights", "@level.IconUrl"));
                    </text>
                }
                <text>
                this.levelGroups.push(new LevelGroupForm("@group.Name", "@group.WriteLevelNames", tempLevels))
                </text>
            }
            console.log("Created a form object");
        }
        
        draw()
        {
            let formDiv = document.getElementById("group_div");
            let html_str = "";
            for (let groupCount = 0; groupCount < this.levelGroups.length; groupCount++)
            {
                let group = this.levelGroups[groupCount];
                let checked_str = group.writeNames ? "checked" : "";
                
                html_str += `
                <div style="background: #204080; padding: 10px; margin-bottom: 10px">
                    <dt>
                        <label for="group_` + groupCount +`_name">Name</label>
                    </dt>
                    <dd>
                        <input id="group_` + groupCount +`_name" name="group_` + groupCount +`_name" placeholder="Green Flower Zone" value="` + group.groupName + `"/>
                    </dd>
                    <dt>
                        <label for="group_` + groupCount +`_write_names">Write Level Names</label>
                    </dt>
                    <dd>
                        <input id="group_` + groupCount +`_write_names" type="checkbox" e="group_` + groupCount +`_write_names" ` + checked_str +`/>
                    </dd>
                    <dt>
                        <label>Levels</label>
                    </dt>
                `
                
                for (let levelCount = 0; levelCount < group.levels.length; levelCount++)
                {
                    let level = group.levels[levelCount];
                    let nights_checked_str = level.nights ? "checked" : "";
                    let level_str = "level_" + groupCount + "_" + levelCount;
                    html_str += `
                    <div style="background: #408020; padding: 10px; margin-bottom: 10px">
                        <dt>
                            <label for="` + level_str + `_name">Level Name</label>
                        </dt>
                        <dd>
                            <input id="` + level_str + `_name" name="level_` + groupCount +`_` + levelCount +`_name" placeholder="Green Flower Zone" value="` + level.levelName + `"/>
                        </dd>
                        <dt>
                            <label for="` + level_str + `_act">Act</label>
                        </dt>
                        <dd>
                            <input type="number" id="` + level_str + `_act" name="` + level_str + `_act" placeholder="` +  (levelCount + 1) +`" value="` + level.act + `"/>
                        </dd>
                        <dt>
                            <label for="` + level_str + `_number">Level Number</label>
                        </dt>
                        <dd>
                            <input type="number" id="` + level_str + `_number" name="` + level_str + `_number" placeholder="1" value="` + level.levelNumber + `"/>
                        </dd>
                        <dt>
                            <label for="` + level_str + `_nights">Nights</label>
                        </dt>
                        <dd>
                            <input id="` + level_str + `_nights" type="checkbox" name="` + level_str + `_nights" ` + nights_checked_str +`/>
                        </dd>
                        <dt>
                            <label for="` + level_str + `_path">Picture</label>
                        </dt>
                        <dd>
                            <input id="` + level_str + `_path" name="` + level_str + `_path" placeholder="@FileManager.AssetsDirectoryName/images/mappics/MAP01P.png" value="` + level.iconPath + `"/>
                        </dd>
                        <button type="button" onclick="remove_level(` + groupCount + `, ` + levelCount + `)">X</button>
                    </div>
                    `

                }
                        
                
                html_str += `
                    <button type="button" onclick="remove_group(` + groupCount + `)">X</button>
                    <button type="button" onclick="add_level(` + groupCount + `)">Add level</button>
                </div>
                `
            }
            formDiv.innerHTML = html_str;
        }
        
        read_fields()
        {
            for (let i = 0; i < this.levelGroups.length; i++)    
            {
                this.levelGroups[i].levels = [];
            }
            this.levelGroups = [];
            
            let groupCount = 0;
            while (document.getElementById("group_" + groupCount +"_name") != null)
            {
                let group_str = "group_" + groupCount;
                let groupName = document.getElementById(group_str +"_name").value;
                let writeNames = document.getElementById(group_str +"_write_names").checked ? "True" : "False";
                
                let levelCount = 0;
                
                let tempLevels = [];
                
                while (document.getElementById("level_" + groupCount + "_" + levelCount + "_name") != null)
                {
                    let level_str = "level_" + groupCount + "_" + levelCount;
                    let levelName = document.getElementById(level_str +"_name").value;
                    let act = document.getElementById(level_str +"_act").value;
                    let levelNumber = document.getElementById(level_str +"_number").value;
                    let nights = document.getElementById(level_str +"_nights").checked ? "True" : "False";
                    let iconPath = document.getElementById(level_str +"_path").value;
                    let level = new LevelForm(levelName, act,  levelNumber, nights, iconPath);
                    
                    levelCount++;
                    
                    console.log(level.levelName + ", " + level.act + ", " + level.levelNumber + "," +level.nights + ", " + level.iconPath);
                    
                    tempLevels.push(level);
                }
                let group = new LevelGroupForm(groupName, writeNames, tempLevels);
                this.levelGroups.push(group);
                groupCount++;
            }
        }
        
        constructor()
        {
            this.init();
            this.draw();
        }
    }
    
    let editGameForm;
    
    $( document ).ready(function() {
        console.log( "ready!" );
        editGameForm = new EditGameForm();
    });
    
    function read_fields()
    {
        editGameForm.read_fields();
    }
    
    function add_level(group_num)
    {
        editGameForm.read_fields();
        editGameForm.levelGroups[group_num].levels.push(new LevelForm("New Level", editGameForm.levelGroups[group_num].levels.length + 1, 0, false, ""));
        editGameForm.draw();
    }
    
    function remove_level(group_num, level_num)
    {
        editGameForm.read_fields();
        editGameForm.levelGroups[group_num].levels.splice(level_num, 1);
        editGameForm.draw();
    }
    
    function add_group()
    {
        editGameForm.read_fields();
        editGameForm.levelGroups.push(new LevelGroupForm("New Group", "False", []))
        editGameForm.draw();
    }
    
    function remove_group(group_num)
    {
        editGameForm.read_fields();
        editGameForm.levelGroups.splice(group_num, 1);
        editGameForm.draw();
    }
    function getToken() {
        return "@Model.Token";
    }
    
    function get(elementIdString) {
        return document.getElementById(elementIdString);
    }
    
    function save_changes()
    {
        console.log("Saving...");
        $.ajax({
            type: 'POST',
            url: '?handler=Save',
            headers: {
                "RequestVerificationToken": getToken()
            },
            
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 
                Name: get("game_name").value,
                UrlName: get("game_url_name").value,
                Groups: JSON.stringify(editGameForm.levelGroups),
            }),
            success: function (data) {
                console.log("Saving success!");
            },
            error: function (error) {
                console.log("Saving failure!");
            }
        });
    }
    </script>
}

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Edit game</h1>
    <dl>
        <dt>
            <label for="game_name">Game's name</label>
        </dt>
        <dd>
            <input id="game_name" type="text" placeholder="Sonic Robo Blast 2 v2.2" value="@EditGame.Game.Name"/>
        </dd>
        <dt>
            <label for="game_url_name">Name in URL</label>
        </dt>
        <dd>
            <input id="game_url_name" type="text" placeholder="srb2v22" value="@EditGame.Game.UrlName"/>
        </dd>
        <dt>
            <label for="group_div">Level groups:</label>
        </dt>
        
        <div id="group_div"></div>
    </dl>
    <button type="button" onclick="add_group()">Add level group</button>
    <input type="button" value="Cancel"/>
    <button onclick="save_changes()" >Submit</button>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
</body>

<style>
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('@FileManager.AssetsDirectoryName/images/vanillabg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
</html>