

@page
@using RoboRecords.Models
@using Microsoft.AspNetCore.Http
@model RoboRecords.Pages.Submit

@{
    ViewData["Title"] = "Submit";
}

<!DOCTYPE html>

<html>
<head>
    <title>Submit</title>
</head>
<body>
@if (Submit.UserLoggedIn)
{
    <div>
        Please submit a replay.<br>
        Game: @Submit.Game.Name
    </div>
}
else
{
    <div>
        Please log in to submit a replay.<br>
        <input type="button" onclick="location.href='/Login'" value="Log in"/>
    </div>
}

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalTitleText" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #d13532">
                <h5 class="modal-title" id="errorModalTitleText" >Errors were found in replays:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="errorModalBodyText" class="modal-body" style="background-color: #303030">
                @foreach (Submit.ErrorMessage message in Submit.ErrorMessages)
                {
                    <p>@message.ReplayName: @message.Message</p>
                }
            </div>
            <div class="modal-footer" style="background-color: #303030">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (Submit.UserLoggedIn)
{
    <div class="container">
        <form enctype="multipart/form-data" method="post">
            <dl>
                <dt>
                    <label asp-for="FileUpload.FormFiles"></label>
                </dt>
                <dd>
                    <input asp-for="FileUpload.FormFiles" type="file" multiple/>
                    <span asp-validation-for="FileUpload"></span>
                </dd>
            </dl>
            <input asp-page-handler="Post" type="submit" value="Submit"/>

        </form>
        Submissions:
        @if (Submit.RecordList.Count > 0)
        {
            RoboGame roboGame = Submit.Game;
            bool hasNights = Submit.RecordList.Find(record => roboGame.GetLevelByNumber(record.LevelNumber) is not null && roboGame.GetLevelByNumber(record.LevelNumber).Nights) is not null;
            <div>
                <table>
                    <tr class="title-font" style="text-align: center">
                        <th style="font-weight: unset">

                        </th>
                        <th style="font-weight: unset">
                            Level
                        </th>
                        <th style="font-weight: unset">
                            Time
                        </th>
                        @if (hasNights)
                        {
                            <th style="font-weight: unset">
                                Score
                            </th>
                        }
                        <th style="font-weight: unset">
                            Version
                        </th>
                        <th style="font-weight: unset">

                        </th>
                    </tr>

                    @for (var recordCount = 0; recordCount < Submit.RecordList.Count; recordCount++)
                    {
                        var record = Submit.RecordList[recordCount];
                        var level = roboGame.GetLevelByNumber(record.LevelNumber);
                        if (level is not null)
                        {
                            var levelString = level.LevelName + (level.Act > 0 ?  " " + level.Act : "");
                            <tr class="title-font" style="text-align: center">
                                <th style="font-weight: unset">
                                    @if (record.Character is not null)
                                    {
                                        <img src=@record.Character.IconUrl alt=@record.Character.Name width="32px">
                                    }
                                </th>
                                <th style="font-weight: unset">
                                    @levelString
                                </th>
                                <th style="font-weight: unset">
                                    <span class="number-display" style="font-size: x-large"> @RoboRecord.GetTimeFromTics(record.Tics) </span>
                                </th>
                                @if (hasNights)
                                {
                                    <th style="font-weight: unset">
                                        <span class="number-display" style="font-size: x-large"> @record.Score </span>
                                    </th>
                                }
                                <th style="font-weight: unset">
                                    @record.VersionString
                                </th>
                                <th style="font-weight: unset">
                                    <form asp-page-handler="delete" method="post">
                                        <button>X</button>
                                        <input type="hidden" name="rec" value="@recordCount"/>
                                    </form>
                                </th>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="5" style="alignment: right">
                            <form enctype="multipart/form-data" method="post">
                                <input asp-page-handler="Cancel" type="submit" value="Cancel"/>
                                <input asp-page-handler="Upload" type="submit" value="Upload to leaderboards"/>
                            </form>
                        </td>
                    </tr>

                </table>

            </div>

        }
        else
        {
            <p>
                No submission yet. Please submit a replay.
            </p>
        }
    </div>
}

@if (Submit.ErrorMessages.Count > 0)
{
    <script type="text/javascript">
    function showError()
    {
        console.log("Calling modal");
        $('#errorModal').modal()
        console.log("Modal called");
    }
    
    window.onload = function() {
        showError();
    };
    </script>
}



</body>
<style>
    body {
      background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 75) ), url(@Submit.Game.IconPath) center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    
    
     screen and (max-width: 800px) {
      h1 {
             font-size: 6vw !important;
         }
         
         h3 {
             font-size: 4vw;
         }
    
     }
   
        tr:nth-child(even)
        {
            background: rgba(32, 32, 32, 0.50);
        }
        tr:nth-child(odd)
        {
            background: rgba(64, 64, 64, 0.50);
        }
        tr:first-child th:first-child
        {
            border-radius: 0.6em 0 0 0;
        }
        tr:first-child th:last-child
        {
            border-radius: 0 0.6em 0 0;
        }
        tr:first-child
        {
            background-color: #404040;
        }
        tr:last-child td:first-child
        {
            background: rgba(32, 32, 32, 0.50);
            border-radius: 0 0 0.6em 0.6em;
            padding: 15px;
        }
        td, th
        {
        padding-left: 15px;
        padding-right: 15px;
        }
</style>
</html>