@page
@using RoboRecords.Models
@model RoboRecords.Pages.GamePage

@{
    ViewData["Title"] = @GamePage.CurrentGame.Name;
}

<!DOCTYPE html>

<!--
 Games.cshtml: FrontEnd for the games website's page
 Copyright (C) 2021, Lemin <Leminn>, Refrag <R3FR4G> and Ors <Riku-S>
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 See the 'LICENSE' file for more details.
-->

<html lang="en">
<div class="text-center">
    <h1 class="title-font">@GamePage.CurrentGame.Name</h1>
    <h2 class="lead">Some nice info text</h2>
</div>
<body class="">

<div class="" style="position: center; text-align: center;">
    @foreach (var levelGroup in GamePage.CurrentGame.LevelGroups)
    {
        <br>
        <span class="title-font" style="font-size: 20px">@levelGroup.Name </span>
        <br>
        foreach (var level in levelGroup.Levels)
        {
            <div class="levelBox" style="background-image: url(@level.IconUrl); image-rendering: pixelated; max-width: unset" >
                <a href=url(@level.MapString) style="color: white; text-decoration: none;">
                    <div style="width: 100%; height: 100%; position: relative">
                        <div style="text-align: right;">
                            @if (levelGroup.WriteLevelNames)
                            {
                                @level.LevelName
                                <br>
                            }
                            @if (level.Act > 0)
                            {
                                <span class="title-font" style="font-size: 20px">act</span>
                                <span class="title-font-number" style="font-size: 32px"> @level.Act </span>
                            }
                        </div>
                        <span style="position:absolute; bottom: 4px; left: 4px; text-align: left; line-height: 120%">
                        @foreach (var character in CharacterManager.StandardCharacters)
                        {
                            var record = level.GetBestRecord(character);
                            if (record != null)
                            {
                                <img src=@character.IconUrl alt=@character.Name width="24px"> <span class="number-display" style="font-size: x-large"> @RoboRecord.GetTimeFromTics(record.Tics) </span><span> - @record.Uploader.UserNameNoDiscrim</span><br>
                            }
                        }
                        </span>
                    </div>
                </a>
            </div>
        }
    }
</div>

</body>
</html>

<style>
    nav {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,15,149,1) 100%);
    }
    footer {
     
    }
    body {
      background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 75) ), url(@GamePage.CurrentGame.IconPath) center;
      background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    }
    .container
    {
        max-width: unset;
    }
</style>